<div class="page-tpl">
  <div class="container">
    {% comment %}
    {% include 'breadcrumb' %}
    {% endcomment %}

    <header class="page-header">
      <h2>
        {% include 'multilang' with page.title %}
      </h2>      
    </header>

    {% comment %}
    Regular page content goes here.
    {% endcomment %}
    <p class="italic-para"><i>We offer FREE shipping on every order only within India. Your order will be shipped to you fully insured. We urge all customers to inspect the package for any damage or tamper before receiving or signing for receipt.For our Indian customers, after your item has been packaged, it will be shipped and delivered free via BVC Logistics..</i></p>
    <h6>PACKAGING -</h6>
    <p>Irasva hallmarks every piece of jewellery (other than 10kt) and certifies every diamond jewellery product through HRD. Every jewellery package from us arrives at your doorstep in a durable, tamper-proof packing. Your item is delivered to you in an exclusive Irasva box along with the relevant certificates.</p>
    <h6>FREE GIFT PACKAGING - </h6>
    <p>In case your purchase is intended as a gift, we offer free gift packing, along with a gift message of your choice. Your gift will be delivered in distinctive Irasva gift packing. So whether you order a gift to give to your loved ones personally, or want us to deliver it, the recipient is sure to be impressed. To send a free gift message with your gift, look for the Gift message text box in the shopping bag/cart page. Your personal message will be printed on a distinctive card and delivered along with the gift.</p>
    
    {% if settings.enable_multilang and page.content contains '[lang2]' %}
    <div class="rte lang1">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    <div class="rte lang2">
      {{ page.content | split: '[lang2]' | last }}
    </div>
    {% else %}
    <div class="rte">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    {% endif %}
  </div>
</div>
