<div class="faqs-page">
  <div class="container">
    {% include 'breadcrumb' %}
    
    <header class="page-header">
      <h2>
        {% include 'multilang' with page.title %}
      </h2>  
    </header>
    <div class="faq-content-data">
      <div class="accordion_container">
         <h3>About Irasva</h3>
        <div class="accordion_head"><span class="q-title">Q. About Irasva</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Irasva is a fine jewellery, retail brand from Verigold Jewellery India Private Limited which is a joint venture between Renaissance Global Limited and the Times of India Group.</p>
          <p>Renaissance Global Limited is a public listed company that designs, manufactures and exports jewellery to several global jewellery retail chains. Fred Meyer, Messika and Kendra Scott are just a few of our esteemed customers. Being a design-led organization, we pride ourselves on the fact that we have a young and experienced team, with an understanding of the latest international trends and preferences.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. What is the meaning of Irasva?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. 'Ira' stands for the pure emotions of love and 'Sva' signifies the essence of the self. Irasva symbolises the inseparable harmony of self-love. We believe that every woman has an intimate relationship with her jewellery; it inspires every woman to feel beautiful and express herself in every moment.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Where is your jewellery made?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Our diamond jewellery is designed and manufactured in-house at our factory located in SEEPZ, Andheri. With the ability to craft over 1,000 unique designs a month, the state of the art production facility encompasses 1,66,000 square feet, divided into 8 units.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Does Irasva have a catalogue?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. We don't have a catalogue available at the moment. However, you can explore our collections online, on our website as well as on Instagram and in-store.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Collection of rings</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. You can browse through our collection of rings on the following page:</p>  
          <p><a href="https://www.irasva.com/collections/diamond-rings-women">https://www.irasva.com/collections/diamond-rings-women</a></p>
          <p>If you'd like to try any of the products on, I can arrange for them to be sent to your home/office as a part of our free Try @ Home service. Please don’t hesitate to let me know if you'd like me to arrange this for you.
            Screen reader support enabled.
          </p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Collection of earrings</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. You can browse through our collection of earrings on the following page:</p>
          <p><a href="https://www.irasva.com/collections/diamond-earrings-women">https://www.irasva.com/collections/diamond-earrings-women</a></p>
          <p>If you'd like to try any of the products on, I can arrange for them to be sent to your home/office as part of our free Try @ Home service. Please don’t hesitate to let me know if you'd like me to arrange this for you.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Collection of pendants</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. You can browse through our collection of pendants on the following page:</p>
          <p><a href="https://www.irasva.com/collections/diamond-pendant-and-necklaces-women">https://www.irasva.com/collections/diamond-pendant-and-necklaces-women</a></p>
          <p>If you'd like to try any of the products on, I can arrange for them to be sent to your home/office as part of our free Try @ Home service. Please don’t hesitate to let me know if you'd like me to arrange this for you.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Collection of bangles</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. You can browse through our collection of bangles on the following page:</p>
          <p><a href="https://www.irasva.com/collections/diamond-bangles-and-bracelets-women">https://www.irasva.com/collections/diamond-bangles-and-bracelets-women</a></p>
          <p>If you'd like to try any of the products on, I can arrange for them to be sent to your home/office as part of our free Try @ Home service. Please don’t hesitate to let me know if you'd like me to arrange this for you.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Entire collection of jewellery</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. You can browse through our entire jewellery collection on the following page:</p>
          <p><a href="https://www.irasva.com/collections/all">https://www.irasva.com/collections/all</a></p>
          <p>If you'd like to try any of the products on, I can arrange for them to be sent to your home/office as part of our free Try @ Home service. Please don’t hesitate to let me know if you'd like me to arrange this for you.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Entire product collection</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. You can browse through our entire product collection on the following page:</p>
          <p><a href="https://www.irasva.com/collections/all">https://www.irasva.com/collections/all</a></p>
          <p>If you'd like to try any of the products on, I can arrange for them to be sent to your home/office as part of our free Try @ Home service. Please don’t hesitate to let me know if you'd like me to arrange this for you.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Do you offer any additional discounts?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. We don't have any discounts available right now but if we do have a promotion or an offer running in the future, we would be happy to inform you of the same. Please join our mailing list so we can keep you updated.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Do you sell gift cards or gift certificates?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. We offer 5 different denomination of Gift Vouchers - RS. 5000 ,Rs. 10000, 15000, 25000 & 50000. You may purchase as many quantity of each or any combination of your choice.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Can I commission a custom design?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Yes, of course. You can customize the gold karatage and the diamond colour-clarity combination online as per your choice. In case you do not have something specific in mind, our team would be happy to understand your requirement and make a few recommendations accordingly.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Can I get the jewellery in a different gemstone or metal not offered on Irasva?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Definitely. You can customize your jewellery as per your requirement.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Can I order a ring in a size that isn't offered on the site?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Yes, you can order a ring in a size that is not offered on the site.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. What if I don't know the ring size?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. That isn't a problem. We have a complimentary plastic ring sizer that we'd be happy to send across to you.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Does Irasva sell Conflict Free diamonds?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Rest assured, Irasva.com uses only conflict-free diamonds which are obtained from legitimate diamond sources that have been certified through the worldwide recognized Kimberley Process Certification Scheme (KPCS).</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. What will my packing be like?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Your jewellery will arrive in exclusive Irasva gift boxes.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Is my jewellery authentic and certified?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Absolutely! All Irasva diamond jewellery comes with a certificate from the Antwerp based HRD certification and every jewellery piece is hallmarked by a BIS certified agency. </p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. I lost my jewellery certificate, can I get a duplicate?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Yes, we can arrange a duplicate for you at a nominal cost of Rs 500. It will come with the words 'copy/duplicate' written across the certificate as a watermark.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Are your prices lower than a local jewellery Boutique?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. They usually are. Our products are offered with no overheads like rent and inventory costs, so we are happy to pass on the benefit to our customers. Even though our designs are unique and exclusive, we offer competitive market prices on diamonds and metal. </p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. How should I place an order online?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. To place an order online, please follow these steps:</p>
          <p>1) Select your piece of jewellery and click on 'Add to your Shopping Bag'<br>
            2) Click on 'Secure Checkout' if you have finalized your order, else 'Continue Shopping'<br>
            3) Enter your email address and name on the secure checkout screen and proceed to the Billing and Shipping section<br>
            4) Enter your shipping details and continue to the Payment Options section<br>
            5) Select your mode of payment and place the order</p>
          <p>You will receive an order confirmation email to the e-mail you provided while placing your order.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Will I get an order confirmation?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Yes. Your order confirmation will be sent to the e-mail address that you provided while placing your order.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. How to Cancel an Order?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Please contact our Customer Delight team on +91 93241 40495 and they will help you cancel your order.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. How do I track my order after it has been shipped?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Please log in to your Irasva account and track your order in the "Order History" section of your account.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Can we get GIA or IGI certificates?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. GIA only certifies loose diamonds but we can do IGI certificates on request. However, we would require 2 additional days to deliver the products to you with an IGI certification.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. What’s the clarity of diamond if it’s says VVS-VS on certificate? Is it Vs or VVS ?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Since some pieces of jewellery consist of multiple diamonds, the laboratory gives a split grade for the diamonds. It means that a few diamonds are VS and a few diamonds are VVS.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q.  Do you take Old gold?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Yes, we do take old gold back. However, we will be able to do that only at the store.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Do you have jewellery for men?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. We don't have jewellery for men at the moment. However, we will be launching a collection in the next few months and will be happy to inform you as soon as it does. Request you to share your details with us for the same.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. How much does it cost me to have a Irasva product delivered to my home?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Irasva provides free shipping on all items except gold coins within India.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. What is the estimated delivery time?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. All Irasva products are specially crafted and the delivery time will vary from product to product. However, the maximum delivery time for all of our products is 21 days. You will receive an email or a SMS indicating the estimated delivery time.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. How will the delivery be done?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. We will courier your order to you via any of our reputed and insured courier partners like Bluedart or BVC who will take the utmost care in delivering your package to you.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. How safe is my product?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Your jewellery is shipped in durable, tamper-proof packing that ensures that the contents remain intact. Your jewellery is fully insured until it reaches your doorstep, and we ensure that we tie up with reputed and established courier services like Bluedart for all orders within India. Please do not accept any package that has been tampered with.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Does Irasva deliver internationally?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Yes, we can deliver internationally provided that the Import duty of the particular country is borne by the customer.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Can I change my shipping address after I have place an order?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Until your order is ready to be shipped, you can change the shipping address. Please contact our Customer Delight team at +91 93241 40495 for assistance.</p>
          <p>For orders that are ready for dispatch, we will be able to reship it to your new address as soon as the consignment is returned back to us.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Do you ship to my location(Pincode)? / Which areas do you cover?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. We ship to all metro cities. Will send a detailed list as an attachment</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Is Cash on Delivery(COD) available for my location(Pincode)?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Yes, cash on delivery is available on all deliveries if the value of the order is less than Rs. 50,000.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. What is your Money Back Policy?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Our 15-day no-questions-asked Money Back Policy gives you time to make sure your purchase is perfect. If you need to return it for any reason, we will be happy to provide you with a full refund or exchange, within 15 days of the date of delivery. Yes, it's that simple ! We can only accept the product without custom engraving, without customisation, in its original condition and with the certification.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Will I have to pay to ship the product back to you?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. We offer free return shipping. You'll receive complimentary return shipping on all exchanges, or refunds for all products within the 15-day money back policy.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. What is your Exchange Policy?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. We offer a Lifetime Exchange Policy on all purchases made from Irasva, within India. If the product along with diamonds and gemstones, if any, is intact, you may return it for the current value of all the materials with a minor deduction towards melting and recovery costs. </p>
          <p>This means your product's current value of gold, diamonds and colored stones will be determined based on product specifications and the current price listed on our website. If you had received a discount or a free gift while making your purchase, we will be deducting the original discount amount or free gift value, whichever applicable. Alternatively, you can choose to return the free gift as well.</p>
          <p>10% of this amount, subject to a minimum of Rs. 1,000, will be deducted towards melting and recovery costs. This will be done on a per product basis, in case you are returning multiple products.</p>
          <p>You will be given a voucher for this value which remains valid for 365 days and can be used to purchase anything, except gold coins from Irasva. Please note that this voucher cannot be encashed.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. How do I make a payment? Payment methods?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Irasva offers multiple methods to make payments for your order: RTGS/NEFT/IMPS, Credit/debit cards, Net Banking, Payment links, wallet payments and cash on delivery.</p>
          <p>All credit/debit card details remain confidential and private. Irasva and our trusted payment gateways use SSL encryption technology to protect your card information.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Are there any hidden costs?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. There are no hidden costs or additional shipping charges. The total price mentioned on the product page next to the photograph is the final price. What you see is what you pay. </p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Are prices on <a href="https://www.irasva.com/">Irasva.com</a> subject to change?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Prices on  <a href="https://www.irasva.com/">Irasva.com</a> are subject to change without notice. Please expect to be charged the price for the Irasva merchandise you buy as it is listed on the day of purchase.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Do you match prices if an item I purchased goes down in price later?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. All sales prices are final and Irasva does not price-match. All our pricing is calculated using current precious metal and gem prices to give you the best possible value. These prices do change from time to time and therefore our prices do too.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. What happens if the ring I bought doesn't fit?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. We offer complimentary ring resizing within 30 days from the shipping date. If the design doesn't permit resizing, we will replace the ring free of cost with a new ring that fits you. Beyond 30 days from the date of shipping, if the design permits, we can resize the ring for a minimal fee.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. What if there is a problem with my purchase?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. If there are any problems with the quality of the workmanship of your piece, we'll repair it free of charge and pay the shipping too. In case a piece is damaged by you, we'll be happy to repair it for you for a minimal fee plus shipping because we want you to enjoy your piece, not have it sitting in a box. If you are still not satisfied with the product, you can return it to us within 15 days. We have a 15-day no-questions-asked return policy. </p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Can I take a ring to my local jeweler to have it resized?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Of course, but we don't recommend it. We can't accept returns of items that have been modified by someone else. Having someone else work on a piece also voids the 15 day money back and lifetime exchange policy, because these kinds of modifications, when done incorrectly, can damage the gems or the strength of the setting.</p>
        </div>
        <h3>Returns and Exchanges</h3>
        <div class="accordion_head"><span class="q-title">Q. How do I get a refund?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A.  To get a refund, you would need to call our customer delight team and place your return request. We will courier an Irasva tamper-proof package to you. This will come pre-printed with our return address and unique serial number along with your name and address on it. Please secure your jewellery with the original packing materials and certificate in the tamper-proof package. Note that once the package is sealed, it cannot be re-opened. Once your package is ready, please call our customer delight team and we will send a courier to pick it up from you. Once your returned item is received by Irasva, your refund or new item will be processed. </p>
          <p>This is not applicable on gold coins though.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. What is your refund policy?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Our 15-day, no-questions-asked return policy gives you time to make sure your purchase is perfect. If you need to return it for any reason, we'll happily provide you with a 100% full refund or exchange and we will also pay for the shipping to and fro. Please note, this is applicable on orders within India only.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Free returns</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. We offer free return shipping. You'll receive complimentary return shipping on all exchanges, or refunds for all products within the 15-day money back policy. You just need to call our customer delight team and we will send a courier over to pick it up from you. Please note, this is applicable on orders within India only.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. How long will it take to get refunds, if any?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. The refunded amount will be directly credited to your bank account after we receive your jewellery. Please email or call our customer delight team with your bank account and IFSC code which can be found printed on your cheque book.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. What are your delivery/shipping charges?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Irasva provides free delivery/shipping on all items within India. Our delivery date depends on the product selected as well as the shipping address. We have several products under the same day shipping section. These are ready to ship products and will be delivered to your address within 2 to 10 business days. </p>
          <p>The rest of our products are made to order and it takes us between 2 to 19 business days to safely deliver these jewellery pieces to you. This includes the time taken to individually handcraft each product and ship it to your delivery address.</p>
          <p>Please note that the business days mentioned do not include Sundays and festive holidays and that free shipping is not applicable on gold coins.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Transit Insurance / Will I be responsible for any accidents with the products before they reach me?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. All the products are fully insured by Irasva until they reach you, so your purchase is 100% safe.</p>
        </div>
        <h3>Try @ Home</h3>
        <div class="accordion_head"><span class="q-title">Q. How to add the designs to my 'Try @ Home' appointment?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. I can help you with this. Request you to share your contact details and the products that you’d like to try so I can make the booking for you.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Can I schedule the trial at my office?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Yes, you can schedule it at your office or any other location that is convenient to you.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Is the home trial free?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Yes, it is absolutely free of charge. Would you like to try any of our products?</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Am I expected to buy after trying the jewellery?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. No, there is no obligation for you to buy a product. In case you do choose to purchase; our representative can take down your order details for processing. Would you like to try any of our products?</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. What is Try @ Home?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. The Try@Home service allows you to experience our collections of thoughtfully designed jewellery, in the comfort of your home or office. This service is absolutely free and you are not obligated in any way to buy what you have tried on. </p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Which are the cities in which this service is available?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Currently, the Try At Home service is available only in Mumbai.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Can I try all of the products on the website?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. You can try any jewellery with the try@home icon on the product details page. This feature is subject to product availability at that time.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. After trying, can I place the order on the spot?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Absolutely! If you'd like to place an order on the spot, our representative will help you do so.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. How many products can I try at one time?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Once you book an appointment, we will reach out to you for a consultation and can carry up to 5 pieces of jewellery with us. In addition, we will carry an assortment of more than 300 pieces in silver CZ for you to view.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. How many products can I try at one time?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Once you book an appointment, we will reach out to you for a consultation and can carry up to 5 pieces of jewellery with us. In addition, we will carry an assortment of more than 300 pieces in silver CZ for you to view.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. What is CZ?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. CZ stands for Cubic Zirconia. It has many of the same qualities as a diamond but is relatively inexpensive, making it a popular alternative.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. How will you send the products to me for trial?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Our Try @ Home consultant will bring them to you at a time and a place that is convenient to you.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Will the manufactured product be exactly the same as the one I tried?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Yes, it will be exactly the same as the one you tried.</p>
        </div>
        <h3>Generic / Contact Information</h3>
        <div class="accordion_head"><span class="q-title">Q. What are your working hours / timings?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. We are open from 11am to 7.30pm, 7 days a week.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. What is your office number?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. You may contact us on +91 93241 40495 or +91 22 2368 9190 and our customer care executive would be happy to assist you. Alternatively, you can also send an email to flagshipmumbai@irasva.com if that's more convenient.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Are you contactable after working hours and on weekends?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. The store operating hours are all 7 days from 11 am to 730 pm. </p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. I want to file a complaint.</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. I sincerely apologise if our services did not meet your expectations. Request you to please write to us at contact@irasva.com,and a member of the team will get in touch with you and try to make this right. </p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Can I contact you by email?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Certainly! Please send an email to <a href="mailto:contact@irasva.com">contact@irasva.com</a> and a member of the team will get back to you as soon as possible.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. What is your address?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Our store's address is:</p>
          <p>Irasva Kundamal House, 67 N.S. Patkar Marg,<br>
            Hughes Road, Gamdevi,<br>
            Mumbai,<br>
            Maharashtra, 400007</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Do you have a Facebook page?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Yes, we do! Check out our latest offers and updates on our Facebook page:</p>
          <p><a href="https://www.facebook.com/irasvajewellery/" target="_blank">https://www.facebook.com/irasvajewellery/</a></p>
          <p>Please don't forget to hit the 'like' button!</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Do you have an Instagram page?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Yes, we do! Check out our latest offers and updates on our Instagram page:</p>
          <p><a href="https://www.instagram.com/irasvajewellery/" target="_blank">https://www.instagram.com/irasvajewellery/</a></p>
          <p>Please don't forget to hit the 'like' button!</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Do you have a Twitter page?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Not yet, but we will keep you updated when we do join Twitter. Please do share your details with us for the same.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. Can I see testimonials?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. Certainly! You may read what our customers have been saying about us in our testimonials section on the following page:</p>
          <p>Answer needed</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. I'm looking for a job</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. That's awesome! Thank you for considering us as a potential employer. Please send us an email with your CV attached to <a href="mailto:contact@irasva.com">contact@irasva.com</a> and our HR team will get back to you soon.</p>
        </div>
        <div class="accordion_head"><span class="q-title">Q. I'm interested in a partnership/becoming a franchisee</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A. That's awesome! Thank you for considering us as a potential partnership. Please send us an email with your CV attached to <a href="mailto:contact@irasva.com">contact@irasva.com</a> and our team will get back to you soon.</p>
        </div>
        <h3>video consultation</h3>
        <div class="accordion_head"><span class="q-title">Q. Do you offer an online video consultation service?</span><span class="plusminus">+</span></div>
        <div class="accordion_body">
          <p>A.  Yes, we offer a Video Consult service via a Zoom call which is very easy to use. All you need to do is click on the Video Consult tab on the homepage. You can book the appointment online by yourself or call our whatsapp number 9324140495 and we will assist you with the same.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .faqs-page .accordion_container h3{
    margin: 30px 0 15px;
    color: #005272;
    font-size: 22px;
    line-height: 26px; 
  }
  .faqs-page .accordion_container .accordion_head {
    padding: 8px 10px 6px 10px;
    font-size: 14px;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: #005272;
}
  .faqs-page .accordion_container .accordion_head.active {
    background: #db817d;
}
  .faqs-page .accordion_container .accordion_head a{
   color:#fff; 
  }
  .faqs-page .accordion_container .accordion_head .plusminus {
    font-size: 27px;
    float: right;
    line-height: 23px;
}
  .faqs-page .accordion_container .accordion_body {
    background: #fff;
    color: #005272;
    font-size: 14px;
    padding: 10px;
    display: none;
}
.faqs-page .accordion_container .accordion_body p{
 margin-bottom:10px; 
      line-height: 20px;
}
</style>


<script>
  $(document).ready(function() {
    $(".accordion_head").click(function() {

      if ($('.accordion_body').is(':visible')) {
        //         $(".accordion_body").slideUp(300);
        $(".plusminus").text('+');
      }
      if ($(this).next(".accordion_body").is(':visible')) {
        //         $(this).next(".accordion_body").slideUp(300);
        $(this).children(".plusminus").text('+');

      } else {
        //         $(this).next(".accordion_body").slideDown(300);
        $(this).children(".plusminus").text('-');
      }
    });

    $('.accordion_head').click(function() {

      //REMOVE THE ON CLASS FROM ALL BUTTONS
      $('.accordion_head').removeClass('active');

      //NO MATTER WHAT WE CLOSE ALL OPEN SLIDES
      $('.accordion_body').slideUp('normal');

      //IF THE NEXT SLIDE WASN'T OPEN THEN OPEN IT
      if($(this).next().is(':hidden') == true) {

        //ADD THE ON CLASS TO THE BUTTON
        $(this).addClass('active');

        //OPEN THE SLIDE
        $(this).next().slideDown('normal');
      }

    });
  });

</script>