<div class="page-tpl " id="shipping-policy">
  <div class="container">
    {% comment %}
    {% include 'breadcrumb' %}
    {% endcomment %}

    <header class="page-header">
      <h2>
        {% include 'multilang' with page.title %}
      </h2>      
    </header>

    <p>Owning precious jewellery is a special feeling and it’s important to know that the right price has been marked for your purchase. Buying certified diamond or fine jewellery is the best way to know the value and properties of your diamond/jewellery.</p>
    
    <p>A diamond and jewellery certificates are formal documents that contain all the technical details for the diamonds and jewellery that you have purchased. It is an authentication report for your purchase and helps you make an informed buying decision.</p>

    <p>So, the next time you buy a solitaire or other fine jewellery, insist on getting a certificate along with it. </p>

    <h6>IGI certified</h6>
    <p>The International Gemological Institute - IGI is one of the leading laboratories across the globe that provides an unbiased opinion about diamonds, coloured stones and fine jewellery. IGI’s stringent grading processes give the buyer an accurate grade and analysis of the diamond or jewellery that he or she intends to purchase.</p>
    <p>Top 3 Reasons why you should have an IGI Certificate: <br/>
      1. Serving the industry since 1975<br/>
      2. One of the most premier grading institutes across the globe with 18 laboratories. <br/>
      3. Reliable and unbiased opinion guaranteed
    </p>

    <h6>HRD Antwerp certified</h6>
    <p>Our grading partner, HRD Antwerp is Europe’s leading authority when it comes to diamond grading, education and equipment. HRD Antwerp draws on 570 years of experience passed down through Antwerp’s diamond trade, and strives for perfection, delivering the highest quality in all of their products and services.</p>
    <p>Their diamond laboratories in Antwerp (HQ), Mumbai and Istanbul use the most sophisticated technology. Next to its diamond labs, HRD Antwerp also has representative offices in Dubai, Hong Kong, Madrid, Ramat Gan, Shanghai and Surat.</p>

    <h6>BIS Hallmarked Jewellery</h6>
    <p>The BIS Hallmarking Scheme has been aligned with International criteria on hallmarking.</p>
    <p>Hallmarking is the accurate determination of the proportionate content of precious metal in gold. The principle objectives of the Hallmarking Scheme are to protect you against adulteration and to obligate international standards of fineness.</p>
  </div>
</div>
