<div class="page-tpl">
  <div class="container">
    {% comment %}
    {% include 'breadcrumb' %}
	{% endcomment %}
    <header class="page-header">
      <h2>
        {% include 'multilang' with page.title %}
      </h2>      
    </header>

    {% comment %}
    Regular page content goes here.
    {% endcomment %}
    <div class="div-main">
      <svg class="svg" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 37.253 32.606"><defs><style>.a{fill:#fff;}</style></defs><g transform="translate(0 -3.392)"><path class="a" d="M.285,19.392,16.652,39.71,9.228,19.392Z" transform="translate(-0.09 -5.041)"/><path class="a" d="M15.472,19.392l7.909,21.647,8.065-21.647Z" transform="translate(-4.875 -5.041)"/><path class="a" d="M29.593,40.235,46.382,19.392H37.357Z" transform="translate(-9.324 -5.041)"/><path class="a" d="M39.884,3.392H29.3l7.259,8.935Z" transform="translate(-9.231 0)"/><path class="a" d="M31.226,13.166,23.761,3.979,16.3,13.166Z" transform="translate(-5.135 -0.185)"/><path class="a" d="M20.22,3.392H9.625l3.287,8.995Z" transform="translate(-3.033 0)"/><path class="a" d="M5.451,4.658,0,13.38H8.637Z" transform="translate(0 -0.399)"/><path class="a" d="M50.384,13.376,44.927,4.645l-3.253,8.731Z" transform="translate(-13.131 -0.395)"/></g>
      </svg>
      <h5>Diamond & Gemstone Jewellery</h5></div>
    <div style="background: #FAFAFA;border-radius: 8px;">
    <div class="div">
    <p class="right-para">15 Day Money Back Guarantee</p>
      <p class="letf-para">100% Of Invoice Value <span style="color:#D77E7A">*Upto ₹1 Lakh Lifetime*</span></p>
     </div>
    <div class="division">
    <hr class="new1">
      <h5 class="pink-para">EXCHANGE OR UPGRADE YOUR JEWELLERY/ SOLITAIRE</h5>
      <p class="green-para"><span style="color: #005272;">Gemstone - </span>90% Of Prevailing Gemstone Value</p>
      <p class="green-para"><span style="color: #005272;">Diamond - </span>100% Of Prevailing Market Rate</p>
      <p class="green-para"><span style="color: #005272;">Gold - </span>100% Value Of Gold Weight At Prevailing Gold Rate</p>
    <hr class="new1">
      <h5 class="pink-para">SELL YOUR JEWELLERY BACK TO US</h5>
   	  <p class="green-para">Gemstone - 80% Of Prevailing Gemstone Value</p>
      <p class="green-para">Diamond - 90% Of Prevailing Market Rate</p>
      <p class="green-para">Gold - 90% Value Of Gold Weight At Prevailing Gold Rate</p>
      <br>
    </div>
    </div>
    <div class="div-main">
      <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.826 32.379"><defs><style>.a{fill:#fff;}</style></defs><g transform="translate(-36.001)"><g transform="translate(36.001)"><path class="a" d="M62.055,8.835A.253.253,0,0,0,61.8,8.6H57.249V7.336a7.336,7.336,0,0,0-14.672,0V8.6H38.024a.253.253,0,0,0-.252.234L36,32.107a.253.253,0,0,0,.252.272h27.32a.253.253,0,0,0,.252-.272ZM44.6,7.336a5.312,5.312,0,1,1,10.624,0V8.6H44.6Zm-1.012,8.348a2.532,2.532,0,0,1-2.53-2.53,2.389,2.389,0,0,1,1.518-2.318v2.318a1.012,1.012,0,1,0,2.024,0V10.837a2.394,2.394,0,0,1,1.518,2.317A2.532,2.532,0,0,1,43.589,15.684Zm12.648,0a2.532,2.532,0,0,1-2.53-2.53,2.389,2.389,0,0,1,1.518-2.318v2.318a1.012,1.012,0,0,0,2.024,0V10.837a2.394,2.394,0,0,1,1.518,2.317A2.532,2.532,0,0,1,56.238,15.684Z" transform="translate(-36.001)"/></g></g>
      </svg>
      <h5>Other Terms</h5>
      </div>
          <div style="background: #FAFAFA;border-radius: 8px;">
    <div class="division">
    <ul>
    <br>
      <li class="green-para">• In case, any coupon, Discount or Promo Codes were used during the original purchase, the Buyback/exchange amount will be reduced by an amount equivalent to the Coupon, Discount or Promo Codes, as applicable</li>
      <li class="green-para">• Customized (including personalized products) Jewellery is not eligible for a Money back, 15 Day exchange or Buyback. Only Life Lime Time Exchange Policy applies</li>
      <li class="green-para">• Returns are only applicable on orders shipped within India</li>
    </ul>
    </div>
    
    <div class="division">
      <hr class="new1">
    <h5 class="pink-para">Money Back, Buyback & Exchanges</h5>
    <ul>
      <li class="green-para">• Customised Jewellery (including personalized products) are not eligible for a 15-Day Money Back or BuyBack. Only Lifetime Exchange applies.</li>
      <li class="green-para">• Once your returned item is received, our Quality Assurance Department will review it.</li>
      <li class="green-para">• Any item that shows sign of wear or has been altered, resized (by a jeweller other than the company) or damaged cannot be accepted for 15-day Money Back.</li>
      <li class="green-para">• Product should be accompanied with original product certificate and the original / copy of invoice for all exchange within the 15-Day Money Back period. The tag should not have been removed from the product for us to accept it as a 15-day Money back.</li>
      <li class="green-para">• In case the customer cannot produce the original certificate, the company will send the solitaire / jewellery to the lab for recertification, the shipping and certification cost of which shall be borne by the customer. </li>
      <li class="green-para">• The Money Back amount will be 100% of actual amount paid. In case, any coupon, discount or promo codes were used during the original purchase, the exchange amount will be reduced by an amount equivalent to the coupon, discount or promo codes, as applicable.</li>
      <li class="green-para">• In case, any coupon, discount or promo codes were used during the original purchase, the BuyBack / Exchange amount will be reduced by an amount equivalent to the coupon, discount or promo codes, as applicable.</li>
      <li class="green-para">• In case of a refund on 15-Day Money Back, payment of the refund amount shall be done via online bank transfer to the customer's bank account within 10 days of receipt of the product. If the mode of the payment was through online debit / credit card / net banking, the refund will be processed by reversal of the transaction.</li>
      <li class="green-para">• In case the exchange value is higher than the value of the old product, the customer will have to pay the difference.</li>
      <li class="green-para">• In case the exchanged value is lesser than the value of the old product, the difference will be refunded in case of a 30 Day exchange, but if its a Life Time Exchange then the difference will be held as a credit for future purchase.</li>
      <li class="green-para">• The prevailing market value will be determined by the company.</li>
      <li class="green-para">• This feature is not available for international orders (orders that will be shipped abroad from India).</li>
      <li class="green-para">• Irasva reserves the right to change the terms and conditions for specific customers. In such a situation, the customer will always be informed of the decision prior to the purchase.</li>
    </ul>
    <hr class="new1">
    <h5 class="pink-para">Resizing & Repairs</h5>
    <ul>
  <li class="green-para">• If you want to resize your ring, Irasva will resize it free of cost except in certain cases where the resizing is not possible.</li>
  <li class="green-para">• If the resized ring costs more than the existing ring, the incremental cost shall be borne by the customer.</li>
  <li class="green-para">• If the resized ring costs less than the existing ring, the differential amount shall be refunded to the customer.</li>
  <li class="green-para">• In case of a refund, the payment of the same shall be made by way of an online bank transfer within 10 days of dispatch of the resized product.</li>
  <li class="green-para">• If for some reasons, your product needs to be repaired, the company shall repair / replace the product for charges which would be determined by the company on a case to case basis.</li>
  <li class="green-para">• Shipping charges under Repairs & Resizing policy shall be borne by the customer.</li>
   <br>
    </ul>
    </div>
    </div>
    {% if settings.enable_multilang and page.content contains '[lang2]' %}
    <div class="rte lang1">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    <div class="rte lang2">
      {{ page.content | split: '[lang2]' | last }}
    </div>
    {% else %}
    <div class="rte">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    {% endif %}
  </div>
</div>

