{% if settings.display_popup_newsletter and page.handle != "video-consultation" %}
<div class="wrapper-newsletter halo-modal" data-newsletter data-delay="{{settings.popup_newsletter_delay | times:1000}}">
    <div class="modal-overlay">
        <div class="halo-modal-content">
            <a class="close close-window" title="{{ 'cart.ajax_cart.close' | t }}">
                {% include 'icon-close' %}
            </a>
            <div class="halo-modal-body">
              <div class="column-left">
                {%- assign img_url = settings.newsletter | img_url: '2400x' -%}
                {%- assign img_url_mob = settings.newsletter_mob | img_url: '2400x' -%}
                
                  {% if settings.newsletter != blank %}
                  <img data-src="{{ img_url }}" src="{{ img_url }}" class="lazyautosizes lazyloaded" data-sizes="auto">
                  {% else %}
                  <div class="not_img">
                    360 x 360px
                  </div>   
                  {% endif %}
                  <div class="store-location">
                    <h3>You're never too far from an Irasva store in Mumbai </h3>
                    <a href="https://www.google.com/maps/dir/19.1732131,72.957856/irasva+store+mumbai/@19.0597301,72.8174391,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3be7cf56da26a0f3:0x368ec9fde18b3978!2m2!1d72.8130097!2d18.9571076S" class="virtual-button1">
                      - Flagship store, Hughes Road
                    </a>
                    <a href="https://www.google.com/maps/place/Inorbit+Mall,+Malad/@19.1729281,72.8359056,15z/data=!4m5!3m4!1s0x0:0x28ad803967b7b93e!8m2!3d19.1729281!4d72.8359056" class="virtual-button2">
                      - Inorbit Mall, Malad
                    </a>
                    <a href="https://www.google.com/maps/place/R+City+Mall/@19.0996854,72.9142052,17z/data=!3m1!4b1!4m5!3m4!1s0x3be7c7cb91a08e4b:0x10408c61181384c3!8m2!3d19.0996854!4d72.9163939" class="virtual-button3">
                      - R City Mall, Ghatkoper
                    </a>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<style>
  a.virtual-button {
    display: block;
  }
  .virtual-button span.btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 3px;
    background: #005272;
    color: #fff;
  }
  .store-location {
    position: absolute;
    right: 20px;
    top: 110px;
    text-align: left;
    max-width: 260px;
  }
  
  .store-location h3{
    font-size: 22px;
    margin-bottom: 15px;
    color: #005272;
  }
  .store-location a {
    display: block;
    line-height: 30px;
    font-size: 18px;
  }
  .store-location .btn-new {
    padding: 6px 20px;
    background: #005272;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
  }
  
  .store-location .btn-new:hover{
  	opacity:0.8;
  }
  
  @media (min-width:768px){
    .virtual-button span.btn {
      bottom: 30px;
    }
    
  }
  @media (max-width:767px){
    .store-location {
      right: 10px;
      top: 40px;
      max-width: 160px;
    }
    .store-location a {
      display: block;
      line-height: 20px;
      font-size: 12px;
      font-weight: 400;
    }
    .store-location h3 {
      font-size: 16px;
      margin-bottom: 20px;
    }
    .store-location p {
      font-size: 14px;
    }
    .store-location .btn-new {
      padding: 3px 10px;
      margin-top: 2px;
      display: inline-block;
    }
  }
</style>