
<!-- amai_stp-added -->
{% render 'amai_stp-cart-snippet' %}
<!-- /amai_stp-added -->
<div class="cart-template">
  <div class="container">
  	{% section 'cart-template' %}  
    
    {% section 'cart-best-sellers' %}
  </div>  
</div>