<div class="page-tpl">
  <div class="container">
    {% comment %}
    {% include 'breadcrumb' %}
    {% endcomment %}
    <header class="page-header">
      <h2>
        {% include 'multilang' with page.title %}
      </h2>      
    </header>
    <div class="table_data01">
      <div class="table_text">
        <p>Shopping should be a stress-free experience and in keeping with that, we believe in a hassle-free return policy. We know that peace of mind is the biggest investment and we want to go the extra step to make you feel secure.</p>
        <p>So go ahead, shop and leave the rest to us.</p>
      </div>
      <table>
        <tr>
          <th>Category</th>
          <th>15 day Money Back<br>
            <small>(100% refund within 15 days)</small>
          </th>
          <th>Lifetime Exchange<br>
            <small>Exchange Or Upgrade Your Jewellery</small>
          </th>
          <th>Buyback<br>
            <small>Sell your jewellery back to us</small>
          </th>
        </tr>
        <tr>
          <td>Gold Jewellery</td>
          <td>100% of invoice value</td>
          <td>100% for Exchange</td>
          <td>90% for Buyback</td>
        </tr>
        <tr>
          <td>Giftables</td>
          <td>100% of invoice value</td>
          <td>75% of Invoice value</td>
          <td>Not Applicable</td>
        </tr>
        <tr>
          <td>
            <p>Solitaire Jewellery</p>
            <p>Loose Solitaires</p>
          </td>
          <td>100% of invoice value</td>
          <td>Value to be determined at prevailing market rates</td>
          <td>Value to be determined at prevailing market rates</td>
        </tr>
        <tr>
          <td>
            <p>Diamond Jewellery</p>
            <p>Gemstone Jewellery</p>
            <p>Uncut Jewellery</p>
          </td>
          <td>100% of invoice value</td>
          <td>
            <p><b>Gold -</b> 100% value of gold weight at prevailing gold rate</p>
            <p><b>Diamond –</b> 100% of prevailing market rate</p>
            <p><b>Gemstone -</b> 90% of prevailing gemstone value</p>
          </td>
          <td>
            <p><b>Gold -</b> 90% value of gold weight at prevailing gold rate</p>
            <p><b>Diamond –</b> 90% of prevailing market rate</p>
            <p><b>Gemstone -</b> 80% of prevailing gemstone value</p>
          </td>
        </tr>
        <tr>
          <td>Chains</td>
          <td>Not Applicable</td>
          <td>100% of gold value</td>
          <td>90% of gold value</td>
        </tr>
        <tr>
          <td>Disney</td>
          <td>100% of invoice value</td>
          <td>75% of Invoice value</td>
          <td>Not Applicable</td>
        </tr>
      </table>
    </div>
    <br>
    <br>
    <div class="div-main">
      <svg class="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.826 32.379"><defs><style>.a{fill:#fff;}</style></defs><g transform="translate(-36.001)"><g transform="translate(36.001)"><path class="a" d="M62.055,8.835A.253.253,0,0,0,61.8,8.6H57.249V7.336a7.336,7.336,0,0,0-14.672,0V8.6H38.024a.253.253,0,0,0-.252.234L36,32.107a.253.253,0,0,0,.252.272h27.32a.253.253,0,0,0,.252-.272ZM44.6,7.336a5.312,5.312,0,1,1,10.624,0V8.6H44.6Zm-1.012,8.348a2.532,2.532,0,0,1-2.53-2.53,2.389,2.389,0,0,1,1.518-2.318v2.318a1.012,1.012,0,1,0,2.024,0V10.837a2.394,2.394,0,0,1,1.518,2.317A2.532,2.532,0,0,1,43.589,15.684Zm12.648,0a2.532,2.532,0,0,1-2.53-2.53,2.389,2.389,0,0,1,1.518-2.318v2.318a1.012,1.012,0,0,0,2.024,0V10.837a2.394,2.394,0,0,1,1.518,2.317A2.532,2.532,0,0,1,56.238,15.684Z" transform="translate(-36.001)"/></g></g>
      </svg>
      <h5>Other things you should know:</h5>
    </div>
    <div style="background: #FAFAFA;border-radius: 8px;">
      <div class="division">
        <ul>
          <br>
          <li class="green-para">• All refunds made by Irasva will be exclusive of making charges.</li>
          <li class="green-para">• 15 Day Money Back : We want to ensure that you love your purchase as much as we do. If for any reason, you do need to return your product to us, we will accept it without any questions within 15 days of the date of delivery. This is not applicable on customised products  and orders and of course in its original condition and with the certification. So there is no need to think twice before putting that ring on your finger.</li>
          <li class="green-para">• Lifetime Exchange & Buy Back : We offer a Lifetime Exchange and Buy Back on all purchases made from Irasva within India. Yes, it's as simple as that. Go on, you know you want to.</li>
        </ul>
      </div>
      
      <div class="division">
        <hr class="new1">
        <h5 class="pink-para">MONEY BACK, BUYBACK & EXCHANGES:</h5>
        <ul>
          
          <li class="green-para">• In case of an exchange within the 15 Day Money Back period, the product should be accompanied with the original product certificate and the original / copy of invoice. The tag should not have been removed from the product for us to accept it as a 15 day Money back. Once a returned item is received, our Quality Assurance Department will review the same and then process.</li>
          <li class="green-para">• In case the customer cannot produce the original certificate, Irasva will send the solitaire / jewellery to the lab for re-certification, and the shipping and certification cost of the same shall be borne by the customer.</li>
          <li class="green-para">• Owing to the extra effort that we put into customised jewellery (including personalized products), we are unable to offer a 15 Day Money Back or BuyBack on such pieces, however, our Lifetime Exchange policy will be applicable.</li>
          <li class="green-para">• In case an item shows signs of wear and tear or has been altered, resized (by a jeweller other than the company) or damaged, it cannot be accepted for the 15 day Money Back.</li>
          <li class="green-para">• The Moneyback, Lifetime Exchange and Buyback amount will be calculated based on the  actual amount paid. In case any coupon, discount or promo codes were used during the original purchase, the exchange amount will be reduced by an amount equivalent to the coupon, discount or promo codes, as applicable.</li>
          <li class="green-para">• In case of a refund on 15 Day Money Back, payment of the refund amount shall be done via an online bank transfer to the customer's bank account within 10 days of receipt of the product. If the mode of the payment was through online debit / credit card / net banking, the refund will be processed by reversal of the transaction.</li>
          <li class="green-para">• In the case of a Lifetime Exchange, if there is a difference in amount that needs to be credited to the customer, the same will be held as credit for a future purchase.<br>But in case the exchange value is higher than that of the old product, the difference is to be borne by the customer. If the exchanged value is lesser than the value of the old product, the difference will be refunded to the customer in case of a 15 Day exchange.</li>
          <li class="green-para">• The prevailing market value will be determined by Irasva.</li>
          <li class="green-para">• Irasva reserves the right to change the terms and conditions for specific customers. In such a situation, the customer will always be informed of the decision prior to the purchase.</li>
          <li class="green-para">• Returns are only applicable on orders shipped within India and are not available for international orders.</li>
        </ul>
        <hr class="new1">
        <h5 class="pink-para">RESIZING & REPAIRS</h5>
        <ul>
          <li class="green-para">• We will be happy to resize your ring free of cost except in certain cases where resizing would not be possible</li>
          <li class="green-para">• In case of a price difference with the resized ring, the additional difference in cost shall be borne by the customer. However, if the resized ring costs less than the existing ring, the differential amount shall be refunded to the customer.</li>
          <li class="green-para">• In case of a refund, the payment of the same shall be made by an online bank transfer within 10 days of the dispatch of the resized product.</li>
          <li class="green-para">• If for some reason, your product needs to be repaired, the Irasva team shall repair/replace the product and charges if any, would be determined on a case to case basis.</li>
          <li class="green-para">• Any shipping charges under our Repairs & Resizing policy shall be borne by the customer and will be communicated to you by our team.</li>
          <br>
        </ul>
      </div>
    </div>
  </div>
</div>


<style>
  .table_data01 .table_text{
    width: 95%;
    margin: 0 auto 20px;
  }
  .table_data01 table th{
    font-size:16px;
  }
  .table_data01 table p{
    margin-bottom: 4px;
  }
  .table_data01 table p:last-child,.table_data01 table p:last-of-type {
    margin-bottom: 0;
  }
  .table_data01 table th, .table_data01 table td{
    border-right:1px solid #e6e6e6; 
  }
  @media (max-width: 767px) {
    .table_data01{
      width: 100%;
      overflow-x: scroll;
    }
  }
</style>

