<div class="footer-top-div custom__footer">
  <div class="footer_top_content">
    <h3>Popular Searches</h3>
    {% if page.handle  == 'diamond-rings-women' %}
    <ul>
      <li><a href="https://www.irasva.com/collections/diamond-engagement-rings">Engagement Rings collection</a></li>
      <li><a href="https://www.irasva.com/collections/diamond-bands-for-women">Band Rings collection </a></li>
      <li><a href="https://www.irasva.com/collections/everyday-classics-diamond-rings">Everyday Classics collection</a></li>
      <li><a href="https://www.irasva.com/collections/stackables-diamond-rings">Stackable Rings collection</a></li>
      <li><a href="https://www.irasva.com/collections/celebrity-style-diamond-rings">Celeb Style Rings & Bands</a></li>
      <li><a href="https://www.irasva.com/collections/occasion-wear-diamond-rings">Occasion Wear Rings collection</a></li>
      <li><a href="https://www.irasva.com/collections/diamond-rings-below-rs-25000">Diamond Rings Below 25k</a></li>
      <li><a href="https://www.irasva.com/collections/rs-25000-50000-diamond-rings">Diamond Rings 25k – 50k</a></li>
      <li><a href="https://www.irasva.com/collections/rs-50000-75000-diamond-rings">Diamond Rings 50k – 75k</a></li>
      <li><a href="https://www.irasva.com/collections/scatter-waltz-jewellery-collection">Scatter Waltz collection</a></li>
      <li><a href="https://www.irasva.com/collections/irasva-essentials-jewellery-collection">Irasva Essentials collection</a></li>
      <li><a href="https://www.irasva.com/collections/skyward-bound-jewellery-collection">Skyward Bound collection</a></li>
      <li><a href="https://www.irasva.com/collections/starring-you-jewellery-collection">Starring You collection</a></li>
      <li><a href="https://www.irasva.com/collections/regalia-jewellery-collection">Regalia collection</a></li>
    </ul>

    {% elsif page.handle  == 'diamond-earrings-women' %}
    <ul>
      <li><a href="https://www.irasva.com/collections/diamond-stud-earrings">Diamond Stud Earrings</a></li>
      <li><a href="https://www.irasva.com/collections/diamond-drops-earrings">Drop Earrings</a></li>
      <li><a href="https://www.irasva.com/collections/diamond-danglers-earrings">Diamond Dangler Earrings</a></li>
      <li><a href="https://www.irasva.com/collections/diamond-front-back-earrings">Front Back Earrings</a></li>
      <li><a href="https://www.irasva.com/collections/diamond-ear-cuffs-earrings">Diamond Earcuffs collection</a></li>
      <li><a href="https://www.irasva.com/collections/diamond-hoops-earrings">Diamond Hoops</a></li>
      <li><a href="https://www.irasva.com/collections/enamels-earring">Enamel Earrings</a></li>
      <li><a href="https://www.irasva.com/collections/celebrity-style-diamond-earrings">Celeb Style Diamond Earrings</a></li>
      <li><a href="https://www.irasva.com/collections/everyday-classics-diamond-earrings">Everyday Classic Earrings</a></li>
      <li><a href="https://www.irasva.com/collections/detachable-or-jacket-diamond-earrings">Diamond Jacket Earrings</a></li>
      <li><a href="https://www.irasva.com/collections/chandeliers-diamond-earrings">Chandeliers Earrings</a></li>
      <li><a href="https://www.irasva.com/collections/kids-diamond-enamel-earrings">Kids Earrings</a></li>
    </ul>

    {% elsif page.handle  == 'diamond-pendant-and-necklaces-women' %}
    <ul>
      <li><a href="https://www.irasva.com/collections/everyday-classics-diamond-pendants-and-necklaces">Everyday Pendants & Necklaces</a></li>
      <li><a href="https://www.irasva.com/collections/occassion-wear-pendants-necklaces">Occasion Wear collection</a></li>
      <li><a href="https://www.irasva.com/collections/gemstone-pendants-necklaces">Classic Gemstone Pendants</a></li>
      <li><a href="https://www.irasva.com/collections/celebrity-style-diamond-pendants-necklaces">Celeb Style Diamond Pendants</a></li>
      <li><a href="https://www.irasva.com/collections/diamond-pendants-below-rs-25000">Pendants under 25k</a></li>
      <li><a href="https://www.irasva.com/collections/rs-25000-50000-diamond-pendants">Necklace under 50k</a></li>
      <li><a href="https://www.irasva.com/collections/rs-50000-75000-diamond-pendants">Pendants under 75k</a></li>
      <li><a href="https://www.irasva.com/collections/irasva-essentials-jewellery-collection">Irasva Essentials collection</a></li>
      <li><a href="https://www.irasva.com/collections/one-jewellery-collection">One collection</a></li>
      <li><a href="https://www.irasva.com/collections/starring-you-jewellery-collection">Starring You collection</a></li>
      <li><a href="https://www.irasva.com/collections/magical-celestials-diamond-zodiac-pendants">Magical Celestials collection</a></li>
      <li><a href="https://www.irasva.com/collections/giftable-amulets">Giftable Amulets</a></li>
      <li><a href="https://www.irasva.com/collections/celebrate-you">Celebrate You Everyday Jewellery</a></li>
    </ul>

    {% elsif page.handle  == 'diamond-bangles-and-bracelets-women' %}
    <ul>
      <li><a href="https://www.irasva.com/collections/flexible-diamond-bracelets-bangles">Flexible Diamond Bracelets</a></li>
      <li><a href="https://www.irasva.com/collections/lightweight-diamond-bracelets-bangles">Lightweight Diamond Bangles</a></li>
      <li><a href="https://www.irasva.com/collections/tennis-diamond-bracelets-bangles">Tennis Bracelets collection</a></li>
      <li><a href="https://www.irasva.com/collections/oval-diamond-bracelets-bangles">Oval Diamond Bangles</a></li>
      <li><a href="#">Everyday Diamond Bangles</a></li>
      <li><a href="https://www.irasva.com/collections/flexible-diamond-bangles">Flex Diamond Bangles</a></li>
      <li><a href="https://www.irasva.com/collections/stackables-diamond-bangles-bracelets">Stackable Diamond Bangles</a></li>
      <li><a href="https://www.irasva.com/collections/celebrity-style-diamond-bangles-bracelets">Celeb Style Bangles & Bracelets</a></li>
      <li><a href="https://www.irasva.com/collections/bracelets-bangles-below-rs-25000">Diamond Bracelets under 25k</a></li>
      <li><a href="https://www.irasva.com/collections/rs-25000-50000-diamond-bangles-bracelets">Diamond Bracelets under 50k</a></li>
      <li><a href="https://www.irasva.com/collections/lady-earth-jewellery-collection">Lady Earth Collection</a></li>
      <li><a href="https://www.irasva.com/collections/elements-jewellery-collection">Elements Collection</a></li>
      <li><a href="https://www.irasva.com/collections/circled-jewellery-collection">Circled Collection</a></li>
      <li><a href="https://www.irasva.com/collections/scatter-waltz-jewellery-collection">Scatter Waltz Collection</a></li>
    </ul>
    
    {% elsif page.handle  == 'all-diamond-jewellery-collection' %}
    <ul>
      <li><a href="https://www.irasva.com/collections/irasva-essentials-jewellery-collection">Irasva Essentials</a></li>
      <li><a href="https://www.irasva.com/collections/one-jewellery-collection">One Collection</a></li>
      <li><a href="https://www.irasva.com/collections/circled-jewellery-collection">Circled Collection</a></li>
      <li><a href="https://www.irasva.com/collections/free-flowing-jewellery-collection">Free Flowing Collection</a></li>
      <li><a href="https://www.irasva.com/collections/skyward-bound-jewellery-collection">Skyward Bound Collection</a></li>
      <li><a href="https://www.irasva.com/collections/regalia-jewellery-collection">Regalia Collection</a></li>
      <li><a href="https://www.irasva.com/collections/starring-you-jewellery-collection">Starring You Collection</a></li>
      <li><a href="https://www.irasva.com/collections/scatter-waltz-jewellery-collection">Scatter Waltz Collection</a></li>
      <li><a href="https://www.irasva.com/collections/illuminaire-jewellery-collection">Illuminaire Collection</a></li>
      <li><a href="https://www.irasva.com/collections/elements-jewellery-collection">Elements Collection</a></li>
      <li><a href="https://www.irasva.com/collections/lady-earth-jewellery-collection">Lady Earth Collection</a></li>
      <li><a href="https://www.irasva.com/collections/giftables-jewellery-gifts">Irasva Giftables</a></li>
      <li><a href="https://www.irasva.com/collections/all-products-below-25k">Diamond Jewellery below 25k</a></li>
      <li><a href="https://www.irasva.com/collections/all-products-25k-50k">Diamond Jewellery below 50k</a></li>
      <li><a href="https://www.irasva.com/collections/gemstone-pendants-necklaces">Irasva Gemstones</a></li>
      <li><a href="#">Mangalsutra collection</a></li>
    </ul>
    
    {% elsif page.handle  == 'giftables-jewellery-gifts' %}
    <ul>
      <li><a href="https://www.irasva.com/products/irasva-gift-voucher/?variant=33793941536906">Gift Vouchers</a></li>
      <li><a href="https://www.irasva.com/collections/giftable-amulets">Giftable Amulets</a></li>
      <li><a href="https://www.irasva.com/collections/celebrate-you">Celebrate You</a></li>
      <li><a href="https://www.irasva.com/collections/gifts-for-kids">Diamond Jewellery for Kids</a></li>
      <li><a href="https://www.irasva.com/collections/gifts-for-her">Diamond Jewellery for Her</a></li>
      <li><a href="https://www.irasva.com/collections/magical-celestials-diamond-zodiac-pendants">Magical Celestials collection</a></li>
      <li><a href="https://www.irasva.com/collections/gifts-under-10k">Diamond Jewellery Gifts under 10k</a></li>
      <li><a href="https://www.irasva.com/collections/gifts-10k-15k">Gifts under 15k</a></li>
      <li><a href="https://www.irasva.com/collections/gifts-15k-25k">Gifts under 25k</a></li>
      <li><a href="https://www.irasva.com/collections/giftables-jewellery-gifts">Irasva Giftables</a></li>
      <li><a href="#">Zodiac pendants</a></li>
      <li><a href="#">Alphabet pendants</a></li>
    </ul>
    
    {% elsif page.handle  == 'enchanted-disney-fine-jewellery' %}
    <ul>
      <li><a href="https://www.irasva.com/collections/enchanted-disney-fine-jewellery-pendants-and-necklaces">Enchanted Disney Pendants</a></li>
      <li><a href="https://www.irasva.com/collections/enchanted-disney-fine-jewellery-earrings">Enchanted Disney Earrings</a></li>
      <li><a href="https://www.irasva.com/collections/enchanted-disney-fine-jewellery-rings">Enchanted Disney Rings</a></li>
      <li><a href="https://www.irasva.com/collections/enchanted-disney-below-25k">Disney Jewellery under 25k</a></li>
      <li><a href="https://www.irasva.com/collections/rs-25000-50000-diamond-pendants">Disney Jewellery under 50k</a></li>
      <li><a href="https://www.irasva.com/collections/enchanted-disney-50k-75k">Disney Jewellery under 75k</a></li>
      <li><a href="https://www.irasva.com/collections/enchanted-disney-75k-1l">Disney Jewellery under 1 lakh</a></li>
      <li><a href="#">Disney Princess collection</a></li>
    </ul>

    {% else %}

    <ul> 
      <li><a href="https://www.irasva.com/collections/diamond-engagement-rings">Engagement Rings collection</a></li>
      <li><a href="https://www.irasva.com/collections/diamond-bands-for-women">Band Rings collection </a></li>
      <li><a href="https://www.irasva.com/collections/stackables-diamond-rings">Diamond Stackable Rings</a></li>
      <li><a href="https://www.irasva.com/collections/diamond-stud-earrings">Diamond Stud Earrings</a></li>
      <li><a href="https://www.irasva.com/collections/diamond-earrings-women">Dangler Earrings for women</a></li>
      <li><a href="https://www.irasva.com/collections/diamond-hoops-earrings">Diamond Hoops</a></li>
      <li><a href="https://www.irasva.com/collections/enamels-earring">Enamel Earrings collection</a></li>
      <li><a href="https://www.enchantedfinejewelry.com/pages/disney-princesses-inspired-jewelry">Jacket Earrings collection</a></li>
      <li><a href="https://www.irasva.com/collections/everyday-classics-diamond-pendants-and-necklaces">Everyday Pendants collection</a></li>
      <li><a href="https://www.irasva.com/collections/gemstone-pendants-necklaces">Gemstone Pendants</a></li>
      <li><a href="https://www.irasva.com/collections/flexible-diamond-bracelets-bangles">Flexible Bracelets</a></li>
      <li><a href="https://www.irasva.com/collections/tennis-diamond-bracelets-bangles">Tennis Bracelets</a></li>
      <li><a href="https://www.irasva.com/collections/lightweight-diamond-bracelets-bangles">Light Weight Diamond Bangles</a></li>
      <li><a href="https://www.irasva.com/collections/enchanted-disney-fine-jewellery-rings">Disney Princess Rings</a></li>
      <li><a href="https://www.irasva.com/collections/enchanted-disney-fine-jewellery-pendants-and-necklaces">Disney Pendants & Necklaces</a></li>
      <li><a href="https://www.irasva.com/collections/enchanted-disney-fine-jewellery-earrings	">Disney Princess Earrings</a></li>
    </ul>
    {% endif %}
  </div>
</div>

<style>
  .footer-top-div.custom__footer{
    margin-bottom:0;
    padding:25px 2em;
    background:#b3bfcc;
  }
  .footer-top-div .footer_top_content h3{
    margin-bottom: 10px;
    font-family: "NewYork-Regular";
    font-size: 26px;
    font-weight: 400;
    color: #11214A;
  }
  .footer-top-div .footer_top_content ul{
    padding:0;
    margin:0;
  }
  .footer-top-div .footer_top_content ul li{
    display:inline-block;
    padding-right: 11px;
    margin-right: 6px;
    position:relative;
  }
  .footer-top-div .footer_top_content ul li:after{
    position:absolute;
    content:"";
    width:1px;
    height:12px;
    background:#798089;
    right:0;
    top:8px;
  }
  .footer-top-div .footer_top_content ul li:last-child{
    padding-right:0;
    margin-right:0;
  }
  .footer-top-div .footer_top_content ul li:last-child:after{
    width:0px; 
  }
  .footer-top-div .footer_top_content ul li a{
    font-size: 13px;
    line-height: 28px;
    color: #3d4246;
  }
  .footer-top-div .footer_top_content ul li a:hover{
    color:#11214A; 
  }
</style>