<div class="collection-template collection-template-with-banner translate-filter-pc">
  <div class="reverse-mb">
    <div class="container">
      <div class="row">
        {% include 'breadcrumb' %}
        {% section 'collection-header' %} 
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% section 'sidebar-filter' %}
      {% section 'collection-template-default' %}
    </div>

    {% section 'recently-viewed-products' %}
    <div class="bottom-desc">
      {% assign description = collection.metafields.collection['description'] %}
      {% if description != 0 and description != blank %}
      {{ description }}
      {% endif %}
    </div>
  </div>
</div>