<div class="page-tpl about-us-2">
  {% section 'about-block-baner' %}
  {% section 'about-us-2-content' %}
  {% section 'about-us-collection' %}
  {% section 'about_our_brand' %}
  {% section 'about-us-3-content' %}
</div>
